/* Add your CSS here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap");

/* font-family: 'Poppins', sans-serif;
 */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* font-family: 'Quicksand', sans-serif; */

:root {
  --Dark-beige: #e6dacd;
  --Light-beige: #f4ece6;
  --Royal-blue: #0150fd;
  --Black: #000;
  --White: #fff;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  font-family: "Poppins", sans-serif;
  /* border: 2px solid red; */
  display: grid;
  grid-template-areas:
    "r1  l1"
    "r2 l1";
  justify-content: space-between;
  margin: 0 1em;
}

.logo-and-name {
  grid-area: r1;
  align-self: center;
  display: flex;
  flex-direction: row;
}
.logo {
  background-color: var(--Royal-blue);
  width: 5vw;
  height: 5vw;
  /* border: 2px solid rgb(175, 146, 146); */
  align-self: center;
}

header h1 {
  /* border: 2px solid rgb(44, 4, 4); */
  font-size: 1.5rem;
}

.project-manager {
  grid-area: r2;
  /* border: 2px solid rgb(50, 194, 7); */
  margin: -1.5em 0;
}

#menu-bar {
  grid-area: l1;
  /* border: 3px solid red; */
  align-self: center;
  width: 100%;
  height: 100%;
  display: block;
}
#menu {
  width: 30px;
  height: 50px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  display: block;
  /* border: 3px solid rgb(212, 119, 119); */
}

#bar1 {
  height: 3px;
  width: 50%;
  background-color: var(--Royal-blue);
  align-self: left;
}
#bar2 {
  height: 3px;
  width: 100%;
  background-color: var(--Royal-blue);
  align-self: center;
  transform: translateY(6px);
}

#bar3 {
  height: 3px;
  width: 50%;
  background-color: var(--Royal-blue);
  transform: translateY(12px);
  float: right;
}

.nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.75em;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  margin: 0;
}
.nav {
  padding: 0;
  margin: 20px 10px;
  transition: 0.8s ease;
  display: none;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #e94498, #b81568);
  border-radius: 50%;
  transition: 0.3s ease;
  opacity: 0.85;
}
#menu-bar {
  z-index: 2;
}

.change-bg {
  width: 50vw;
  height: 50vw;
  transform: translate(50%, -30%);
}

.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

.main-back {
  width: 100%;
  background-color: var(--Dark-beige);
  /* border: 3px solid rgb(212, 119, 119); */
  display: flex;
  margin-top: 20vh;
  padding-top: 30vh;
  flex-direction: column;
}

.containt-back {
  padding: 0 2em;
}
.containt-back h1 {
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}

.contact-info-main-back {
  background-color: white;
  display: grid;
  grid-template-areas:
    "e1 e2"
    "e3 e4"
    "e5 e5"
    "e6 e6";
  width: 100%;
  gap: 0em;
  padding: 1em 1em;
}

.contact-info-main-back {
  padding: 1em;
}

.titles-footers {
  font-size: 1.5em;
  font-weight: bold;
}
.main-front {
  z-index: 1;
  width: 90%;
  height: 50vh;
  background-color: var(--Light-beige);
  position: absolute;
  top: 60vh;
  margin-top: -46vh;
  margin-left: 1em;
  /* opacity: 0.5; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}

.main-front img {
  width: 50%;
  border-radius: 50%;
  align-self: center;
  margin-top: 1em;
  border: 2px solid red;
}

.name-in-main-front {
  width: 30%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  align-self: center;
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
}

.line-in-main-front {
  width: 25%;
  height: 0.1em;
  background-color: #0150fd;
  align-self: center;
  margin-top: 1em;
}

.buttons-main-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #a5a6a8; */
}
.btn-resume,
.btn-projects {
  background-color: var(--Royal-blue);
  color: white;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-top: 2em;
  border: 0;
  align-self: center;
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
  width: 40%;
}

.btn-projects {
  color: black;
  background-color: var(--Light-beige);
  border: 2px solid rgb(0, 0, 0);
}

.media-logos-main-front {
  position: absolute;
  background-color: white;
  height: 3em;
  /* border: 2px solid red; */
  bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.media-logos-main-front i {
  width: 2em;
  align-self: center;
}
